<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>ncts.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>ncts.listener.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ncts.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>ncts.servlet.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTabUserServlet</servlet-name>
        <servlet-class>ncts.servlet.ChangeTabUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInfoUpdateServlet</servlet-name>
        <servlet-class>ncts.servlet.LoadInfoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>ncts.servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ncts.servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>ncts.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <servlet-class>ncts.servlet.UpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToPromotionListServlet</servlet-name>
        <servlet-class>ncts.servlet.AddToPromotionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListPromotionServlet</servlet-name>
        <servlet-class>ncts.servlet.ViewListPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPromotionListServlet</servlet-name>
        <servlet-class>ncts.servlet.ProcessPromotionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <servlet-class>ncts.servlet.UpdatePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryPromotionServlet</servlet-name>
        <servlet-class>ncts.servlet.ViewHistoryPromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTabUserServlet</servlet-name>
        <url-pattern>/ChangeTabUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInfoUpdateServlet</servlet-name>
        <url-pattern>/LoadInfoUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <url-pattern>/UpdateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToPromotionListServlet</servlet-name>
        <url-pattern>/AddToPromotionListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListPromotionServlet</servlet-name>
        <url-pattern>/ViewListPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPromotionListServlet</servlet-name>
        <url-pattern>/ProcessPromotionListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <url-pattern>/UpdatePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryPromotionServlet</servlet-name>
        <url-pattern>/ViewHistoryPromotionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorServer.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>THAISON</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
